<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Anim_000000</key>
      <dict>
        <key>frame</key>
        <string>{{239,802},{46,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>Anim_000001</key>
      <dict>
        <key>frame</key>
        <string>{{99,802},{47,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>Anim_000002</key>
      <dict>
        <key>frame</key>
        <string>{{255,146},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000003</key>
      <dict>
        <key>frame</key>
        <string>{{255,292},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000004</key>
      <dict>
        <key>frame</key>
        <string>{{255,438},{44,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{42,45}</string>
      </dict>
      <key>Anim_000005</key>
      <dict>
        <key>frame</key>
        <string>{{410,0},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000006</key>
      <dict>
        <key>frame</key>
        <string>{{310,584},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000007</key>
      <dict>
        <key>frame</key>
        <string>{{465,520},{138,155}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{136,153}</string>
      </dict>
      <key>Anim_000008</key>
      <dict>
        <key>frame</key>
        <string>{{410,146},{148,182}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{146,180}</string>
      </dict>
      <key>Anim_000009</key>
      <dict>
        <key>frame</key>
        <string>{{465,328},{142,192}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{140,190}</string>
      </dict>
      <key>Anim_000010</key>
      <dict>
        <key>frame</key>
        <string>{{465,675},{137,155}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{135,153}</string>
      </dict>
      <key>Anim_000011</key>
      <dict>
        <key>frame</key>
        <string>{{310,438},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000012</key>
      <dict>
        <key>frame</key>
        <string>{{607,436},{77,63}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,61}</string>
      </dict>
      <key>Anim_000013</key>
      <dict>
        <key>frame</key>
        <string>{{602,768},{79,81}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>Anim_000014</key>
      <dict>
        <key>frame</key>
        <string>{{310,730},{101,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,98}</string>
      </dict>
      <key>Anim_000015</key>
      <dict>
        <key>frame</key>
        <string>{{558,146},{101,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,98}</string>
      </dict>
      <key>Anim_000016</key>
      <dict>
        <key>frame</key>
        <string>{{607,246},{98,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,93}</string>
      </dict>
      <key>Anim_000017</key>
      <dict>
        <key>frame</key>
        <string>{{607,341},{98,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,93}</string>
      </dict>
      <key>Anim_000018</key>
      <dict>
        <key>frame</key>
        <string>{{603,520},{98,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>Anim_000019</key>
      <dict>
        <key>frame</key>
        <string>{{565,0},{99,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{97,90}</string>
      </dict>
      <key>Anim_000020</key>
      <dict>
        <key>frame</key>
        <string>{{700,614},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>Anim_000021</key>
      <dict>
        <key>frame</key>
        <string>{{659,92},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>Anim_000022</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000023</key>
      <dict>
        <key>frame</key>
        <string>{{701,436},{94,93}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,91}</string>
      </dict>
      <key>Anim_000024</key>
      <dict>
        <key>frame</key>
        <string>{{602,675},{98,93}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,91}</string>
      </dict>
      <key>Anim_000025</key>
      <dict>
        <key>frame</key>
        <string>{{705,187},{94,99}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,97}</string>
      </dict>
      <key>Anim_000026</key>
      <dict>
        <key>frame</key>
        <string>{{700,709},{94,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,92}</string>
      </dict>
      <key>Anim_000027</key>
      <dict>
        <key>frame</key>
        <string>{{705,286},{93,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{91,94}</string>
      </dict>
      <key>Anim_000028</key>
      <dict>
        <key>frame</key>
        <string>{{410,328},{45,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{43,75}</string>
      </dict>
      <key>Anim_000029</key>
      <dict>
        <key>frame</key>
        <string>{{558,246},{44,78}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{42,76}</string>
      </dict>
      <key>Anim_000030</key>
      <dict>
        <key>frame</key>
        <string>{{411,730},{44,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{42,75}</string>
      </dict>
      <key>Anim_000031</key>
      <dict>
        <key>frame</key>
        <string>{{701,529},{41,81}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,79}</string>
      </dict>
      <key>Anim_000032</key>
      <dict>
        <key>frame</key>
        <string>{{146,830},{47,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{45,21}</string>
      </dict>
      <key>Anim_000033</key>
      <dict>
        <key>frame</key>
        <string>{{193,802},{46,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>Anim_000034</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{52,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{50,40}</string>
      </dict>
      <key>Anim_000035</key>
      <dict>
        <key>frame</key>
        <string>{{603,614},{54,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,59}</string>
      </dict>
      <key>Anim_000036</key>
      <dict>
        <key>frame</key>
        <string>{{664,0},{58,80}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{56,78}</string>
      </dict>
      <key>Anim_000037</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{255,255}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{253,253}</string>
      </dict>
      <key>Anim_000038</key>
      <dict>
        <key>frame</key>
        <string>{{0,255},{255,255}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{253,253}</string>
      </dict>
      <key>Anim_000039</key>
      <dict>
        <key>frame</key>
        <string>{{155,510},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000040</key>
      <dict>
        <key>frame</key>
        <string>{{155,656},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000041</key>
      <dict>
        <key>frame</key>
        <string>{{52,802},{47,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>Anim_000042</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
      <key>Anim_000043</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{155,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Anim.png</string>
      <key>size</key>
      <string>{856,856}</string>
      <key>textureFileName</key>
      <string>Anim.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.15909</real>
        <key>anchorY</key>
        <real>2.15556</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.08889</real>
        <key>anchorY</key>
        <real>2.15556</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.19048</real>
        <key>anchorY</key>
        <real>2.15556</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04412</real>
        <key>anchorY</key>
        <real>1.04575</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03571</real>
        <key>anchorY</key>
        <real>1.01053</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.07407</real>
        <key>anchorY</key>
        <real>1.22876</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.76000</real>
        <key>anchorY</key>
        <real>2.67213</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.18987</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>asset24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03125</real>
        <key>anchorY</key>
        <real>1.02151</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>asset25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03125</real>
        <key>anchorY</key>
        <real>1.02151</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>asset26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03125</real>
        <key>anchorY</key>
        <real>1.03261</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>asset27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02062</real>
        <key>anchorY</key>
        <real>1.03333</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>asset28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03226</real>
        <key>anchorY</key>
        <real>1.03226</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>asset29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03226</real>
        <key>anchorY</key>
        <real>1.03226</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>asset30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.05435</real>
        <key>anchorY</key>
        <real>1.03297</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>asset31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02083</real>
        <key>anchorY</key>
        <real>1.03297</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>asset32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.07609</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>asset33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.07609</real>
        <key>anchorY</key>
        <real>1.03261</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>asset34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.08791</real>
        <key>anchorY</key>
        <real>1.04255</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>asset35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.05333</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>asset36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02381</real>
        <key>anchorY</key>
        <real>1.03947</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>asset37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02381</real>
        <key>anchorY</key>
        <real>1.05333</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
      </dict>
      <key>asset38</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.05128</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>31</integer>
        <key>end</key>
        <integer>31</integer>
      </dict>
      <key>asset39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02222</real>
        <key>anchorY</key>
        <real>3.66667</real>
        <key>start</key>
        <integer>32</integer>
        <key>end</key>
        <integer>32</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.09091</real>
        <key>anchorY</key>
        <real>2.17778</real>
        <key>start</key>
        <integer>33</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>asset40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.92500</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>asset41</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.30508</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>asset42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>36</integer>
      </dict>
      <key>asset43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>37</integer>
      </dict>
      <key>asset46</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>38</integer>
        <key>end</key>
        <integer>38</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>39</integer>
        <key>end</key>
        <integer>39</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>40</integer>
        <key>end</key>
        <integer>40</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.06667</real>
        <key>anchorY</key>
        <real>2.13333</real>
        <key>start</key>
        <integer>41</integer>
        <key>end</key>
        <integer>41</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>42</integer>
        <key>end</key>
        <integer>42</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>43</integer>
        <key>end</key>
        <integer>43</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>bomb1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>5</integer>
        <key>rect</key>
        <string>0,0,146.00,192.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48487</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,192.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i48491</key>
          <dict>
            <key>class</key>
            <string>asset19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,192.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i48493</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,192.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i48489</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,192.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48199</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,192.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
        </dict>
      </dict>
      <key>bomb2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>14</integer>
        <key>rect</key>
        <string>0,0,99.00,98.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48509</key>
          <dict>
            <key>class</key>
            <string>asset29</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i48495</key>
          <dict>
            <key>class</key>
            <string>asset22</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||</string>
          </dict>
          <key>i48507</key>
          <dict>
            <key>class</key>
            <string>asset28</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>i48517</key>
          <dict>
            <key>class</key>
            <string>asset33</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i48503</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||</string>
          </dict>
          <key>i48519</key>
          <dict>
            <key>class</key>
            <string>asset34</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i48505</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||</string>
          </dict>
          <key>i48501</key>
          <dict>
            <key>class</key>
            <string>asset25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||</string>
          </dict>
          <key>i48499</key>
          <dict>
            <key>class</key>
            <string>asset24</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||</string>
          </dict>
          <key>i48497</key>
          <dict>
            <key>class</key>
            <string>asset23</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||</string>
          </dict>
          <key>i48513</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i48515</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48511</key>
          <dict>
            <key>class</key>
            <string>asset30</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i48225</key>
          <dict>
            <key>class</key>
            <string>asset21</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>clearch</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>15</integer>
        <key>rect</key>
        <string>0,0,253.00,253.00</string>
        <key>anchorX</key>
        <real>0.35949</real>
        <key>anchorY</key>
        <real>0.69960</real>
        <key>children</key>
        <dict>
          <key>i48251</key>
          <dict>
            <key>class</key>
            <string>asset43</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,253.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|12.95,240.10,0.00,0.89799,0.89799,1.00,0,0.00,0.00|25.80,227.20,0.00,0.79601,0.79601,1.00,0,0.00,0.00|38.70,214.25,0.00,0.69398,0.69398,1.00,0,0.00,0.00|51.55,201.35,0.00,0.59200,0.59200,1.00,0,0.00,0.00|64.50,188.45,0.00,0.48999,0.48999,1.00,0,0.00,0.00|||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>clearen</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>15</integer>
        <key>rect</key>
        <string>0,0,253.00,253.00</string>
        <key>anchorX</key>
        <real>0.35949</real>
        <key>anchorY</key>
        <real>0.69960</real>
        <key>children</key>
        <dict>
          <key>i48277</key>
          <dict>
            <key>class</key>
            <string>asset46</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,253.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|12.95,240.10,0.00,0.89799,0.89799,1.00,0,0.00,0.00|25.80,227.20,0.00,0.79601,0.79601,1.00,0,0.00,0.00|38.75,214.30,0.00,0.69398,0.69398,1.00,0,0.00,0.00|51.60,201.40,0.00,0.59200,0.59200,1.00,0,0.00,0.00|64.50,188.45,0.00,0.48999,0.48999,1.00,0,0.00,0.00|||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>color1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,153.00,144.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48521</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i48303</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48523</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>color2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,153.00,144.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48329</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48527</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i48525</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>color3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,153.00,144.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48529</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i48355</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48531</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>color4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,153.00,144.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48381</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48535</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i48533</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>color5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,153.00,144.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48537</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i48407</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48539</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,144.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>enemy</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>4</integer>
        <key>rect</key>
        <string>0,0,43.00,79.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48433</key>
          <dict>
            <key>class</key>
            <string>asset35</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,79.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i48543</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,79.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i48541</key>
          <dict>
            <key>class</key>
            <string>asset36</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,79.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48545</key>
          <dict>
            <key>class</key>
            <string>asset38</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,79.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>mubei</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>4</integer>
        <key>rect</key>
        <string>0,0,56.00,78.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i48459</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,78.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i48549</key>
          <dict>
            <key>class</key>
            <string>asset41</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,78.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i48547</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,78.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i48551</key>
          <dict>
            <key>class</key>
            <string>asset42</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,78.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>