<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>startScene_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{205,169}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{203,167}</string>
      </dict>
      <key>startScene_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,971},{3,3}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>startScene_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{483,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{481,800}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>startScene.png</string>
      <key>size</key>
      <string>{584,1002}</string>
      <key>textureFileName</key>
      <string>startScene.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>start</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>startLayer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,489.35,809.30</string>
        <key>anchorX</key>
        <real>0.01574</real>
        <key>anchorY</key>
        <real>0.01050</real>
        <key>children</key>
        <dict>
          <key>start</key>
          <dict>
            <key>class</key>
            <string>start</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>168.35,481.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2675</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>29.85,730.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i2672</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>8.35,809.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>